@import "tailwindcss";

@theme {
  --color-primary: #2badee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;
  --color-surface-light: #ffffff;
  --color-surface-dark: #18262e;
  --color-text-main: #0d171b;
  --color-text-muted: #4c809a;
  --font-family-display: "Inter", sans-serif;
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
  word-break: break-word;
}
